<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="com.baizhi.fifth.dao.MedicineDAO">
	<!--自定义result Map-->
	<resultMap id="medicinemap" type="medicine">
		<id column="id" property="id" />
		<result column="unit" property="unit" />
		<result column="nationalDrugName" property="nationalDrugName" />
		<result column="approvaldateOfNationalDrugName" property="approvaldateOfNationalDrugName" />
		<result column="ingredient" property="ingredient" />
		<result column="description" property="description" />
		<result column="dosageAdministration" property="dosageAdministration" />
		<result column="sideEffects" property="sideEffects" />
		<result column="contraindications" property="contraindications" />
		<result column="precaution" property="precaution" />
		<result column="interaction" property="interaction" />
		<result column="depot" property="depot" />
		<result column="packing" property="packing" />
		<result column="expiryDate" property="expiryDate" />
		<result column="company" property="company" />
		<collection property="pictures" javaType="list" ofType="picture" select="com.baizhi.fifth.dao.PictureDAO.queryByMedicineId" column="id" />
	</resultMap>
	<!-- 根据id查询药品 -->
	<select id="queryOne" parameterType="String" resultMap="medicinemap">
		select id,unit,nationalDrugName,approvaldateOfNationalDrugName,ingredient,description,dosageAdministration,sideEffects,contraindications
			,precaution,interaction,depot,packing,expiryDate,company  from t_medicine where id=#{id}
	</select>
	<!-- 查询所有商品 -->
	<select id="queryAll" resultMap="medicinemap">
		select id,unit,nationalDrugName,approvaldateOfNationalDrugName,ingredient,description,dosageAdministration,sideEffects,contraindications
			,precaution,interaction,depot,packing,expiryDate,company  from t_medicine
	</select>
	<!-- 添加商品 -->
	<insert id="insert" parameterType="medicine">
		insert into t_medicine values(#{id},#{unit},#{nationalDrugName},#{approvaldateOfNationalDrugName},#{ingredient},#{description},#{dosageAdministration},#{sideEffects},#{contraindications}
			,#{precaution},#{interaction},#{depot},#{packing},#{expiryDate},#{company})
	</insert>
	<!--删除商品-->
	<delete id="delete" parameterType="String">
		delete from t_medicine where id=#{id}
	</delete>
	<!--更新商品-->
	<update id="update" parameterType="medicine">
		update t_medicine set unit=#{unit},nationalDrugName=#{nationalDrugName},approvaldateOfNationalDrugName=#{approvaldateOfNationalDrugName},ingredient=#{ingredient},description=#{description},dosageAdministration=#{dosageAdministration},sideEffects=#{sideEffects},contraindications=#{contraindications}
			,precaution=#{precaution},interaction=#{interaction},depot=#{depot},packing=#{packing},expiryDate=#{expiryDate},company=#{company}   where id=#{id}
	</update>
</mapper>
